body {
    font-family: 'Montserrat', sans-serif;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;  /* A fókuszáláskor se legyen árnyék vagy keret */
}
p {
    text-align: justify;
    text-indent: 10px;
}
.width_footer_icons {
    width: 25px;
}
.bg_zold {
    background-color: #4CAF50;
}
.text_zold {
    color:  #4CAF50;
}
.bg_zold_vilagos {
    background-color: #F2F8F2;
}
.text_zold_vilagos {
    color:  #F2F8F2;
}
.bg_szurke {
    background-color: #3D3D3D;
}
.text_szurke {
    color:  #3D3D3D;
}
nav a {
    color: #3D3D3D !important;
}
.navbar-toggler {
    color: #3D3D3D !important;
}

body {
    max-width: 1000px !important;
}
.carousel-item, .carousel-inner, .carousel {
    width: 340px;
    height: 400px;
}
.carousel-control-prev-icon {
    background-image: url('img/bal_nyil.png'); /* Saját szürke ikon /https://www.svgrepo.com/svg/109221/next?edit=true/*/
}
.carousel-control-next-icon {
    background-image: url('img/jobb_nyil.png'); /* svg átalakitása png-re https://cloudconvert.com/*/
}
section li {
    list-style: none; /* Alapértelmezett bullet eltávolítása */
    background-image: url('img/logo_list_kicsi.png');
    background-size: 20px; /* Ikon méretének beállítása */
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px; /* Hely az ikon és a szöveg között */
}
#kravadev {
    font-size: 8px; /* Extra kicsi szöveg */
    font-family: 'Space Mono', monospace;
  }
#kravadev a:hover {
    color: #F2F8F2;
  }
  .no-link {
    pointer-events: none;
  }




