.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;  /* A fókuszáláskor se legyen árnyék vagy keret */
}
p {
    text-align: justify;
    text-indent: 10px;
}
.zold_egy {
    background-color: rgb(145, 202, 3);
}
.zold_ketto {
    background-color: rgb(68, 170, 0);
}
.zold_harom {
    background-color: rgb(122, 204, 5);
}
.zold_negy {
    background-color: rgb(109, 187, 3);
}
.bg-zold_nav {
    background-color:#5D9906;
}
nav {
    background-color:#5D9906;
}
